# Configurações do Banco de Dados
DATABASE_URL="postgresql://username:password@localhost:5432/sensory_profile_db?schema=public"

# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações de CORS
FRONTEND_URL=http://localhost:5173

# Configurações do Render
# DATABASE_URL será fornecido pelo Render quando você criar o serviço PostgreSQL

# Supabase Auth
SUPABASE_JWT_SECRET=+j0KN+tL8PRp3H3wOXqq7upVKkL3rK5agoMRoCeJ0MBHbECfawvPg6tC/ir8vL9r5uuIGDgvnoLFX5Z76ycVjg==
